.input_image {
  width: 450px;
  height: 30px;
  word-wrap: break-word;
}
.imgUrl_product {
  width: 400px;
  margin-top: 10px;
}

.home {
  display: flex;
  .homeContainer {
    flex: 6;
    margin: 40px;
  }
}
